@model IEnumerable<MVC_Login_Register.Models.UserModel>

@{
    ViewBag.Title = "UserList";
}

<h2>UserList</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>User ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserId</td>
            <td>@item.FullName</td>
            <td>@item.Email</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
            </td>
        </tr>
    }
</table>

<br />
<a href="@Url.Action("Register","Account")">Add New User</a>

<a href="@Url.Action("Logout","Account")">Logout</a>